/*reset*/
*{
    margin: 0px;
    padding: 0px;
    font-size: 16px;
}
body{
    min-width: 960px; /*fixed layout*/
    background-color: #f4f4f4;
}
p{
    color:#3f3f3f;
}            
ul{
    list-style: none;
    overflow: hidden; /*caculte the height of floated children*/
}
a{
    text-decoration: none;
}
h1{
	font-size: 1.5em;
}
h2{
	font-size: 1.2em;
}
h3{
	font-size: 1.1em;
}
/* nav list */
.nav-wrapper{
    width: 100%;
    position: fixed; 
    top: 0px;   
    z-index: 9000;           
}
#nav-content{
    width: 960px;
    overflow: hidden;
    margin: auto;
    text-align:center;
    padding-top: 2px;
}

/* 2 nav bars, left&right*/
.nav-wrapper ul.nav{
    width: 410px;
}
.nav-left, .nav-left li{
    float: left;
}
.nav-right, .nav-right li{
    float: right;
    
}
/*logo centered*/
#logo{
    width: 120px;
    margin: auto;
}

.nav-wrapper ul.nav li{
    margin: 0px 7%;
    padding-top: 20px; /*stretch the height*/
}
.nav-wrapper ul.nav li.selected{
    border-top: solid #00bde5 3px; /*intend for js*/
}
.nav-wrapper ul.nav li a:hover, .nav-wrapper ul.nav li.selected a{
    color: #00bde5;
}

.nav-wrapper ul.nav li a{
    color: white;
}
.nav-wrapper, footer{
    background-color: black;
}

/*footer*/
footer{
    color: white;
    width: 100%;
}
#footer-content{
    width: 760px;
    margin: auto;
    position: relative;
    padding: 10px 0px;
}
#footer-content .contact a{
    color: white;
    font-size: 0.9em;
}
#footer-content .contact{
    position: absolute;
    top: 30px;
    left: 140px;

}
.copyright{
    color: #999999;
    font-size: 0.9em;
}